body {
    display:flex;
    justify-content: center;
}

#page {
    width: 600px;
    margin-top: 100px;
}

form input {
    margin-bottom: 10px;
}

.btnp {
    width: 600px;
    margin-bottom: 15px;
}

/* for dark theme users */
@media (prefers-color-scheme: dark) {
    .table {
        color: #ffffff !important;
    }

    body {
        background-color: #222;
        color: white !important;
    }
    
    .form-control {
        background-color: #333;
        color: white;
        border: 1px solid #555;
    }
}
